.fakt {
    float: left;
    padding: 20px;
    width: 200px;
    margin: 20px;
}

.auswahl {
    width: 200px;
    padding: 20px;
    float: left;
}

.bordered {
    border: 2px dashed gray;
}

.nicebutton {
    display: block;
    margin: 10px;
    width: 130px;
}